# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage/
bullet_cache/
.perf/
.cybercache/

# Environment variable files
.env
.env.*

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.venv/
venv/

# Development database and storage
*.db
sqlite.db
/test.db
/backend/storage/

# Frontend build files
frontend/build/
frontend/dist/
frontend/node_modules/
frontend/.parcel-cache/
frontend/coverage/

# Logs and temp files
*.log
*.temp
*.tmp
*.swp
*.swo
*.pid
*.seed
*.bak
*.orig
*.patch